@page
<div class="container" style="margin-top: 287px; position: absolute; right: 50%;">
	<div class="row p-1">
		<div class="col-1">User</div>
		<div class="col-5">
			<span id="userName">@ViewBag.UserFirstName @ViewBag.UserLastName</span>
		</div>
	</div>
	<div class="row p-1">
		<div class="col-1">Message</div>
		<div class="col-5">
			<input type="text" class="w-100" id="messageInput" />
		</div>
	</div>
	<div class="row p-1">
		<div class="col-6 text-end">
			<input type="button" id="sendButton" value="Send Message" />
		</div>
	</div>
	<div class="row p-1">
		<div class="col-6">
		</div>
	</div>
	<div class="row p-1">
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/chat.js"></script>