@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

html {
    font-family: "Mulish", sans-serif;
}

body {
    transition: background-image 1s ease-in-out;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

span {
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}

    span:before {
        position: absolute;
        left: 0;
        top: 0;
        content: attr(filter-content);
        filter: url(#motion-blur-filter);
    }

svg {
    display: none;
}

.website-name {
    display: inline-block;
    color: white;
    margin-left: 37%;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-content {
    display: flex;
    padding: 0px 60px 0px 60px;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.information-inputs {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    width: 800px
}

    .information-inputs label {
        margin-bottom: 5px;
    }

.form-input {
    display: flex;
    flex-direction: column;
    margin: 1px 0px;
}

    .form-input input {
        height: 35px;
        width: 160px;
        border: none;
        color: white;
        background: none;
        background: linear-gradient(180deg, rgb(41, 40, 40), rgba(255, 255, 255, 0.1));
    }

    .form-input label {
        color: white;
        font-size: 18px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }

input {
    border-radius: 4px;
    height: 30px;
}

.submit-button {
    position: absolute;
    left: 40%;
    bottom: 170px;
    border-radius: 24px;
    padding: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgba(174, 60, 51, 255);
    color: white;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.title-text-accessory {
    position: absolute;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    left: 220px;
    bottom: -4px;
}

.title-text {
    margin-top: 45px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    margin-right: 100px;
}

.other-forms {
    display: flex;
    flex-direction: column;
    width: 250px;
}

    .other-forms label {
        color: white;
        font-size: 18px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }

    .other-forms input {
        margin: 10px 0px;
        width: 360px;
        height: 35px;
        border: 1px solid lightgrey;
    }

.check-box-input {
    display: flex;
    align-items: center;
}

    .check-box-input input {
        margin-right: 10px;
    }

    .check-box-input label {
        color: white;
        font-size: 16px;
        width: 500px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }

.button-object {
    margin-top: 14px;
    margin-left: 110px;
}

    .button-object :hover {
        background-color: rgb(184, 68, 59);
    }


.text-danger span {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin-top: 5px;
    width: 195px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.text-danger {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.card-ad-create {
    margin: 45px 115px 0px 15%;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1150px;
    height: 655px;
    background: linear-gradient(135deg, black, rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.column-accessories {
    float: left;
    width: 300px;
    padding: 1px;
    color: white;
    list-style: none;
}


    .column-accessories li {
        list-style: none;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }

.row-accessories:after {
    content: "";
    display: table;
    clear: both;
}

.row-accessories {
    position: absolute;
    left: 940px;
}

.checkbox-list {
    overflow-y: scroll;
    max-height: 500px;
    position: absolute;
    left: 170px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: none;
    color: white;
    background: none;
    background: linear-gradient(180deg, rgb(41, 40, 40), rgba(255, 255, 255, 0.1));
}

/* Style for the options within the select element */
option {
    background-color: #f0f0f0;
    color: white;
    font-weight: bold;
    background: none;
    background: linear-gradient(180deg, rgb(41, 40, 40), rgba(255, 255, 255, 0.1));
}


select:focus {
    background-color:  rgb(41, 40, 40);
}

    select:focus > option:checked {
        background: #000 !important;
    }


   