@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");


html {
    font-family: "Mulish", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #8B0000, #B22222, #A52A2A, #800000);
    animation: gradient 5s ease infinite;
    margin: 0px;
    padding: 0px;
}

.div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-title {
    left: 590px;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 100;
    position: relative;
}

.sub-title {
    margin-top: 0px;
    position: absolute;
    top: 130px;
    right: 780px;
    font-size: 30px;
    align-self: flex-end;
    letter-spacing: 2px;
    color: rgba(203, 32, 36, 255);
}

.hostel-home-card {
    margin-top: 70px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

.image-holder img {
    width: 1000px;
    height: 600px;
    background-size: cover;
}

.hostel-home-card {
    display: flex;
    flex-direction: column;
    height: 1950px;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 140px;
}

.article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    width: 420px;
    margin: 0px auto;
}

.hostel-home-card p {
    margin: 0px auto;
    padding: 25px;
    width: 440px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.bottom-text {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    bottom: 15px;
    border-radius: 0px 0px 20px 20px;
}

    .bottom-text i a {
        padding: 0px;
        color: white;
        font-size: 22px;
        padding: 12px 38px;
        background-color: darkred;
        border-radius: 25px;
        text-decoration: none;
        position: absolute;
        left: 185px;
    }


.hostel-home-card p i {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 6px 8px;
    background-color: rgba(203, 32, 39, 255);
    border-radius: 100%;
    height: 10%;
    position: absolute;
    right: 128px;
}

.card-holder {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center; /* Center the cards horizontally */
}

.list-information-car li {
    list-style: none;
}

.price-information {
    font-size: 50px;
    position: absolute;
    margin-top: 15px;
    left: 1040px;
}

.buy-button {
    font-size: 35px;
    position: absolute;
    margin-top: 10px;
    bottom: 25px;
    left: 1150px;
    padding: 0px 25px;
    border-radius: 25px;
}

.car-information {
    margin-top: 10px;
    font-size: 25px;
}

.list-information-car-accessories {
    display: none;
    opacity: 1;
    transition: opacity 0.5s ease;
    flex-direction: column;
    align-items: center;
}

    .list-information-car-accessories.show-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
    }

.toggle-accessories-button{
    margin-top:25px;
    margin-left: 425px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    margin-top: -130px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    left: 1412px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }



.fade {
    animation-name: fade;
    animation-duration: 0.6s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}