@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");


html {
    font-family: "Mulish", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #8B0000, #B22222, #A52A2A, #800000);
    animation: gradient 5s ease infinite;
    margin: 0px;
    padding: 0px;
}

.div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-title {
    left: 590px;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 100;
    position: relative;
}

.sub-title {
    margin-top: 0px;
    position: absolute;
    top: 130px;
    right: 780px;
    font-size: 30px;
    align-self: flex-end;
    letter-spacing: 2px;
    color: rgba(203, 32, 36, 255);
}

.car-card {
    margin-top: 70px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

.car-card-message {
    margin-top: 70px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

.message {
    width: 502px;
    text-align: center;
}

.bottom-text-message {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    bottom: -20px;
    border-radius: 0px 0px 20px 20px;
}
.edit-delete-cancel-buttons {
    display: flex;
}

.edit-button {
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background: linear-gradient(180deg, seagreen, rgba(255, 255, 255, 0.2));
    border-radius: 15px;
    text-decoration: none;
    position: absolute;
    left: 50px;
}

.delete-button {
    height: 52px;
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background: linear-gradient(180deg, darkred, rgba(255, 255, 255, 0.2));
    border-radius: 15px;
    text-decoration: none;
    position: absolute;
    left: 309px;
}

.cancel-button {
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background: linear-gradient(180deg, dimgray, rgba(255, 255, 255, 0.2));
    border-radius: 15px;
    text-decoration: none;
    position: absolute;
    left: 170px;
    width: 135px;
    height: 52px;
}


    .cancel-button:hover,
    .delete-button:hover,
    .edit-button:hover {
        cursor: pointer;
        opacity: 0.8; /* Reduce opacity on hover for visual feedback */
    }



.image-holder img {
    width: 500px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

.car-card {
    display: flex;
    flex-direction: column;
    height: 635px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 140px;
}

.article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    width: 420px;
    margin: 0px auto;
}

.article-title-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    padding: 10px 20px;
    width: 420px;
    margin: 0px auto;
}

.car-card p {
    margin: 0px auto;
    padding: 25px;
    width: 440px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.bottom-text {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    bottom: 15px;
    border-radius: 0px 0px 20px 20px;
}



.car-card p i {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 6px 8px;
    background-color: rgba(203, 32, 39, 255);
    border-radius: 100%;
    height: 10%;
    position: absolute;
    right: 128px;
}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    align-items: center; /* Center the cards horizontally */
}

.card-holder-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    align-items: center; /* Center the cards horizontally */
    margin-bottom: 460px;
}

.create-message-button a {
    width: 90px;
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background-color: darkred;
    border-radius: 25px;
    text-decoration: none;
    position: absolute;
    left: 185px;
}

.create-message-button {
    position: absolute;
    left: -3%;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.page-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.page-item a {
    color: white;
}

.page-link {
    border-radius: 12px;
    padding: 20px;
    background: black;
    font-size: 18px;
    text-decoration: none;
}

.filters {
    display: flex;
    padding: 0px 60px 0px 60px;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.filter-card {
    margin: 45px 108px 0px 222px;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, black, rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.information-inputs {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    width: 1409px;
    margin-left: -35px;
    margin-bottom: 20px;
    justify-content: center;
    row-gap: 25px;
    column-gap: 10px;
}

    .information-inputs label {
        margin-bottom: 5px;
    }

.form-input {
    display: flex;
    flex-direction: column;
    margin: 1px 0px;
}

    .form-input input {
        height: 35px;
        width: 160px;
        border: none;
        color: white;
        background: none;
        background: linear-gradient(180deg, rgb(41, 40, 40), rgba(255, 255, 255, 0.1));
    }

    .form-input label {
        color: white;
        font-size: 18px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }

input {
    border-radius: 4px;
    height: 30px;
}

.submit-button {
    position: absolute;
    left: 40%;
    bottom: 170px;
    border-radius: 24px;
    padding: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgba(174, 60, 51, 255);
    color: white;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}


.title-text {
    margin-top: 15px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 35px;
    margin-left: 35%;
}

select {
    padding: 10px;
    font-size: 16px;
    border: none;
    color: white;
    background: none;
    background: linear-gradient(180deg, rgb(41, 40, 40), rgba(255, 255, 255, 0.1));
}

/* Style for the options within the select element */
option {
    background-color: #f0f0f0;
    color: white;
    font-weight: bold;
    background: none;
    background: linear-gradient(180deg, rgb(41, 40, 40), rgba(255, 255, 255, 0.1));
}


select:focus {
    background-color: rgb(41, 40, 40);
}

    select:focus > option:checked {
        background: #000 !important;
    }


#model {
    width: 90px;
}

#brand {
    width: 90px;
}

#manufacturer {
    width: 120px;
}

#minHorsePower {
    width: 91px;
}

#maxHorsePower {
    width: 94px;
}

#minPrice {
    width: 108px;
}

#maxPrice {
    width: 108px;
}

#minMileage {
    width: 122px;
}

#maxMileage {
    width: 126px;
}

#endYear {
    width: 87px;
}

#startYear {
    width: 87px;
}

#sorting {
    width: 93px;
}

.filter-button {
    border-radius: 15px;
    margin-top: 88px;
    position: relative;
    right: 415%;
}

.second-form-inputs {
    display: flex;
    margin-left: 122px;
    grid-column-gap: 13px;
}
