@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");


html {
    font-family: "Mulish", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #8B0000, #B22222, #A52A2A, #800000);
    animation: gradient 5s ease infinite;
    margin: 0px;
    padding: 0px;
}

.div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-title {
    left: 590px;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 100;
    position: relative;
}

.sub-title {
    margin-top: 0px;
    position: absolute;
    top: 130px;
    right: 780px;
    font-size: 30px;
    align-self: flex-end;
    letter-spacing: 2px;
    color: rgba(203, 32, 36, 255);
}

.car-card {
    margin-top: 70px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

.car-card-message {
    margin-top: 70px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

.message {
    width: 502px;
    text-align: center;
}

.bottom-text-message {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    bottom: -20px;
    border-radius: 0px 0px 20px 20px;
}

.edit-button {
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background-color: seagreen;
    border-radius: 25px;
    text-decoration: none;
    position: absolute;
    left: 30px;
}

.delete-button {
    height: 35%;
    width: 28%;
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background-color: darkred;
    border-radius: 25px;
    text-decoration: none;
    position: absolute;
    left: 335px;
}

.cancel-button {
    height: 35%;
    width: 35%;
    color: white;
    font-size: 10px;
    padding: 12px 38px;
    background-color: red;
    border-radius: 25px;
    text-decoration: none;
    position: absolute;
    font-size: 30px;
    left: 155px;
}


    .cancel-button:hover {
        cursor: pointer;
        opacity: 0.8; /* Reduce opacity on hover for visual feedback */
    }



.image-holder img {
    width: 500px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

.car-card {
    display: flex;
    flex-direction: column;
    height: 635px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 140px;
}

.article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    width: 420px;
    margin: 0px auto;
}

.article-title-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    padding: 10px 20px;
    width: 420px;
    margin: 0px auto;
}

.car-card p {
    margin: 0px auto;
    padding: 25px;
    width: 440px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.bottom-text {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    bottom: 15px;
    border-radius: 0px 0px 20px 20px;
}



.car-card p i {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 6px 8px;
    background-color: rgba(203, 32, 39, 255);
    border-radius: 100%;
    height: 10%;
    position: absolute;
    right: 128px;
}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    align-items: center; /* Center the cards horizontally */
}

.card-holder-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    align-items: center; /* Center the cards horizontally */
    margin-bottom: 460px;
}

.create-message-button a {
    width: 90px;
    color: white;
    font-size: 22px;
    padding: 12px 38px;
    background-color: darkred;
    border-radius: 25px;
    text-decoration: none;
    position: absolute;
    left: 185px;
}

.create-message-button {
    position: absolute;
    left: -3%;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.page-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.page-item a {
    color: white;
}

.page-link {
    border-radius: 12px;
    padding: 20px;
    background: black;
    font-size: 18px;
    text-decoration: none;
}
