@model GeneratedNewsViewModel

<link rel="stylesheet" href="~/css/Admin/GeneratedNews/Edit.css" asp-append-version="true" />

<svg xmlns="http://www.w3.org/2000/svg">
	<!-- filterUnits is required to prevent clipping the blur outside the viewBox -->

	<filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
		<!-- We only want horizontal blurring. x: 100, y: 0 -->

		<feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
	</filter>
</svg>

<span class="website-name" filter-content="X">Xcelerate</span>

<div class="centered-form">
	<form asp-area="Admin" asp-controller="AdminNews" asp-action="ApproveNewsUpload" method="post">
		<div>
			<label class="title-content-label" for="title-content">Title and Content:</label><br />
			<textarea id="title-content" name="TitleAndContent">@Model.Title @System.Environment.NewLine@System.Environment.NewLine @Model.Content</textarea>
		</div>
		<div>
			<button class="submit-approved-news" type="submit">Submit</button>
		</div>
	</form>
</div>

