<link rel="stylesheet" href="~/css/Error/Error.css" asp-append-version="true" />

<div class="exception-container">
    <div class="img-container">
        <img src="~/Images/Error/ERROR.jpg" class="error-image" />
    </div>
    <div class="exception-conent">
        <p>An error occurred while processing your request.</p>
        <p> Go back to <a asp-area="" asp-controller="Home" asp-action="HomePage">Home Page</a></p>
    </div>
</div>