<link rel="stylesheet" href="~/css/Error/Error404.css" asp-append-version="true" />

<div class="exception-container">
    <div class="img-container">
        <img src="~/Images/Error/ERROR 404.jpg" class="error-image"/>
    </div>
    <div class="exception-conent">
       <p>Oops. Better check your search.</p>
        <p>Page was not found</p>
       <p> Go back to <a asp-area="" asp-controller="Home" asp-action="HomePage">Home Page</a></p>
    </div>
</div>