<link rel="stylesheet" href="~/css/Error/Error401.css" asp-append-version="true" />

<div class="exception-container">
    <div class="img-container">
        <img src="~/Images/Error/ERROR 401.jpg" class="error-image" />
    </div>
    <div class="exception-conent">
        <p>Uh oh. You dont have access to this page.</p>
        <p>Unauthorized</p>
        <p> Go back to <a asp-area="" asp-controller="Home" asp-action="HomePage">Home Page</a></p>
    </div>
</div>