@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

html {
    font-family: "Mulish", sans-serif;
}

body {
    transition: background-image 1s ease-in-out;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

span {
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}

    span:before {
        position: absolute;
        left: 0;
        top: 0;
        content: attr(filter-content);
        filter: url(#motion-blur-filter);
    }

svg {
    display: none;
}

.website-name {
    display: inline-block;
    color: white;
    margin-left: 37%;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

input {
    border-radius: 4px;
    height: 30px;
}

.login-button {
    border-radius: 24px;
    padding: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgba(174, 60, 51, 255);
    color: white;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}



.title-text {
    margin-right: 100px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.other-forms {
    display: flex;
    flex-direction: column;
    width: 250px;
}

    .other-forms label {
        color: white;
        font-size: 18px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none;
        user-select: none; 
    }

    .other-forms input {
        margin: 10px 0px;
        width: 360px;
        height: 35px;
        border: 1px solid lightgrey;
    }

.check-box-input {
    display: flex;
    align-items: center;
}

    .check-box-input input {
        margin-right: 10px;
    }

    .check-box-input label {
        color: white;
        font-size: 16px;
        width: 500px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none;
        user-select: none; 
    }

.card-content {
    display: flex;
    padding: 0px 60px 0px 60px;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.button-object {
    margin-top: 14px;
    margin-left: 110px;
}

    .button-object :hover {
        background-color: rgb(184, 68, 59);
    }

.title-text {
    margin-top: 45px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.text-danger span {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin-top: 5px;
    width: 195px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.text-danger {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.card-login {
    margin: 120px 10px 380px 35%;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 510px;
    height: 345px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
}

@keyframes colorAnimation {
    0% {
        color: #ffffff;
    }

    100% {
        color: #ffff00;
    }
}

.error-container li {
    font-size: 18px;
    padding: 0px;
    margin-top: 5px;
    width: 300px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    position: absolute;
    left: 28%;
    color: rgba(174, 60, 51, 255);
    transition: color 0.2s ease-in-out;
    animation: colorAnimation 6s infinite alternate;
}
